.container{
    width: 1280px;
    margin: 0 auto;
}

.head-title-link{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.mda-js{
    color: #8fdeff;
}
.head-menu{
    display: flex;
    background-color: #35444F; 
    margin-top: 38px;
    margin-bottom: 48px;
    justify-content: center;     
}
.head-menu-item{
    list-style: none;
    padding: 25px 30px;
    border-left: 1px solid white;
}
.head-menu-link{
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.item4{
    /* background-repeat: no-repeat; */
    border-right: 1px solid #ffffff;
}
.head-menu-item:hover{
    background-color: #222F3A;;
}
 .main-section{
    display: flex;
} 
.main-nav-link{
    transition: 0.5s;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.main-nav-menu :hover{
    background: #DBDBDB;
    padding-left: 40px;
}
.main-nav-item{
    transition: 0.5s;
    display: flex;
    list-style: none;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    background: rgba(0, 0, 0, 0.0001);  
    padding: 20px 30px;
    /* margin-right: 65px; */
    margin-right: 70px;
    width: 344px;
}
.main-nav-item :hover .main-nav-link{
    /* background: #DBDBDB; */
    color: #35444F;
    padding-right: 20px;
    
}
    
.nav-item1{
    border-top: 1px solid #bfbfbf;
    padding-top: 26px;
}
.nav-item5{
    border-bottom:1px solid #bfbfbf; 
    padding-bottom: 30px;
}
.main-center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-img{
   width: 30vw;
   border:1px solid #bfbfbf;
   padding: 60px 200px;
   margin-left: 52px;
   margin-right: 99px;
   align-self: center;
}
.main-section-text{
    justify-content: space-around;
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    align-items: center;
}
.main-text1{
    margin-top: 37px;
    margin-bottom: 34px;
    margin-left: 60px;
}
.main-text2{
    margin-top: 37px;
    margin-bottom: 54px;
    margin-left:60px;
}
.footer-section{
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-around;
}

.footer-nav-menu{
    display: flex;
    justify-content: space-around;
}
.footer-nav-link{
    transition: 0.5s;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    color: #0C1927;
    /* justify-content: space-around; */
}
.footer-nav-item{
    list-style: none;
    padding: 25px 30px;
    list-style: none;
}
.footer-text{
    font-family: 'Roboto' sans-serif;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    padding: 25px 30px;
}
.footer-nav-item :hover{
    color: #4187a8;
}